* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

:root {
    --primary-color: linear-gradient(#355d87, #13b286);
    --TodoPrimary: black;
    --textCol: white;
}

.dark-theme {
    --primary-color: black;
    --TodoPrimary: linear-gradient(#355d87, #13b286);
    --textCol: black;
}

body {
    background: var(--primary-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20%; /* Add padding to give space from the top and right edges */
    position: relative; /* Make body a positioning context */
}

#icon {
    width: 5%;
    cursor: pointer;
    position: absolute; /* Position the moon icon */
    top: 32%; /* Adjust the top position as needed */
    right: 40%; /* Adjust the right position as needed */
}

.darkMode {
    background-color: transparent; /* Set background color to transparent */
}

.card {
    width: 90%;
    max-width: 600px;
    background: var(--TodoPrimary);
    color: var(--textCol);
    border-radius: 20px;
    padding: 40px 35px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.image img {
    width: 80px;
    height: 80px;
    margin-right: 20px; /* Adjust margin-right as needed */
}

.search {
    margin-top: 40px;
    width: 100%;
    position: relative;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    background: var(--textCol);
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 40px;
    height: 60px;
    width: 100%;
    z-index: 1;
}

.search button {
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #ff5945;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 800;
    font-size: 26px;
    position: absolute;
    right: 0;
    z-index: 2;
}

#displayText {
    margin-top: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
    text-decoration: line-through;
}
